body {
    background-color: blanchedalmond;
    font-weight: bold;

};
header{
    border-bottom: 3px solid black;
}
h1{
    text-align: center;
}
.open_icon{
    text-align: right;
}
.main-pic{
    text-align: center;
}
.checkbox-card:checked + .card_main{
    visibility: visible;
    width: 40%;
    height: 40%;
    opacity: 1;
}