body {
    background-color: blanchedalmond;
    font-weight: bold;

};
header{
    border-bottom: 3px solid black;
}
h1{
    text-align: center;
}
.open_icon{
    right: 20%;
    width: 10%;
    height: 10%;

}
.main-pic{
    width:30%;
    height:30%;
}
.checkbox-card:checked + .card_main{
    visibility: visible;
    width: 40%;
    height: 40%;
    opacity: 1;
}