body {
    background-color: rgb(245, 228, 204);
    font-weight: bold;

}
h1{
    text-align: center;
}
.first{
    display: block;
}
.memes{
    max-width: 500px;
    margin: 20px auto;
    color: blue;
}
.memes:hover{
    color: black;
}
.memeinp{
    appearance: none;
}
.open_icon{
    max-width: 10px;
    max-height: 10px;
}

.memeinp:hover ~ .memeimg{
    display: block;
}
.memeinp:checked ~ .memeimg{
    display: block;
}
.memeinp:checked ~ .memes-title{
    color: black;
}
.memeinp:checked ~ label .memes-title_image{
    transform: rotate(45deg);
    color: black;
}
.memes-title{
    display: block;
    cursor: pointer;
    padding: 10px 15px;
}
.memes-title:hover{
    background-color: rgb(246, 185, 93);
}
.memeimg{
    padding: 10px 15px;
    display: none;
}
.memes-title_image{
    display:  inline-block;
}
.push {
    display:  inline-block;
    inline-size: 90%;
}
.main-pic{
    width: 80%;
    height: 80%;
}
